header img{
	width:100%;
	height: 200px;
	position:absolute;
	border-radius: 5px;
}

header {
	position: relative;
	height:200px;
	margin: 0 0 10px 0;
}

article {
	overflow: auto;
	border: 1px solid black;
	margin: 3px;
}

.title {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.thumbnail {
	float: left;
	margin: 5px 5px;
}

.score {
	float: left;
	transform: translateY(50%);
	width: 40px;
}

.submission {
	text-decoration: none;
	color: black;
	font-size: 10px;
}

a {
	text-decoration: none;
}

#miniImg {
	bottom: 0;
	left:0;
	height:188px;
	width: 52px;
}

#miniImg2 {
	bottom: 0;
	right:0;
	height:188px;
	width: 52px;
}

#sig {
	width: 450px;
	margin:0 auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}